<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Valentines</title>
</head>
<body>
    <h1>Secret Valentines</h1>
    <p>Enter your first name to find out who your valentine is:</p>
    <form action="/find_partner" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Find My Valentine</button>
    </form>
</body>
</html>
